<% @users.each do |user| %>
    <div class="users-wrapper flex">
       <div class="img-cont">
         <%= image_tag user.Photo, :size => "70x70", alt: "user photo" %>
       </div>
       <div class="user-details rounded-2xl">
         <h2><%= link_to user.Name, user, class: "link-button"  %></h2>
         <p>Number of posts: <%= user.PostCounter %></p>
       </div>
    </div>
    <%end%>